<div class="row" id="no-more-tables">
  <h1>Listagem de Produtos</h1>
  <table class="table table-striped table-hover table-sm">
      <thead>
          <tr>
              <td colspan="7">
                  <button class="btn btn-primary" (click)="productInsertService.showModalInsert()">
                      Novo produto
                  </button>
                  &nbsp;
                  <input type="checkbox" 
                       name="active" 
                       id="active"
                       required 
                       [(ngModel)]="onlyTrashed"
                       (change)="getProducts()">
                  <label for="active">
                    &nbsp;Somente excluídos?
                  </label>
              </td>
          </tr>
          <tr>
              <th style="width: 5%">ID</th>
              <th style="width: 45%">Nome</th>
              <th style="width: 10%">Ativo?</th>
              <th style="width: 10%">Criado em</th>
              <th style="width: 10%">
                <span class="float-lg-right float-xl-right">
                    Estoque
                </span>
              </th>
              <th style="width: 10%">
                <span class="float-lg-right float-xl-right">
                    Preço
                </span>
              </th>
              <th style="width: 10%">
                <span class="float-lg-right float-xl-right">
                    Ações
                </span>
              </th>
          </tr>
      </thead>
      <tbody>
            <tr *ngFor="let product of products | paginate: pagination">
                <td data-title="ID: ">
                    {{product.id}}
                </td>
                <td data-title="Nome: " [title]="product.description">
                    {{product.name}}
                </td>
                <td data-title="Ativo: ">
                    <i class="fas" [ngClass]="{'fa-check': product.active, 'fa-times': !product.active}"></i>
                </td>
                <td data-title="Criado em: ">
                    {{product.created_at.date | date: 'dd/MM/yyyy'}}
                </td>
                <td data-title="Estoque: ">
                    <span class="float-lg-right float-xl-right">
                        {{product.stock}}
                    </span>
                </td>
                <td data-title="Preço: ">
                    <span class="float-lg-right float-xl-right">
                        R${{product.price | numberFormatBr}}
                    </span>
                </td>
                <td data-title="Ações: ">
                    <span class="float-lg-right float-xl-right" *ngIf="!onlyTrashed">
                        <a href="javascript:void(0)" (click)="productEditService.showModalEdit(product)">
                            <i class="fas fa-edit"></i>
                        </a>
                        &nbsp;
                        <a href="javascript:void(0)" (click)="productDeleteService.showModalDelete(product)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </span>
                    <span class="float-lg-right float-xl-right" *ngIf="onlyTrashed">
                        <a href="javascript:void(0)" (click)="productRestoreService.showModalRestore(product)" title="Restaurar produto">
                            <i class="fas fa-thumbs-up"></i>
                        </a>
                    </span>
                </td>
            </tr>
            <tr *ngIf="!products.length">
                <td colspan="7">
                    Nada a exibir por enquanto :(
                </td>
            </tr>
      </tbody>
  </table>
</div>
<hr>
<div style="text-align: right;">
    <pagination-controls 
        (pageChange)="pageChange($event)"
        nextLabel="Próximo"
        previousLabel="Anterior"
        autoHide=true
        responsive=true>
    </pagination-controls>
</div>
<product-new-modal 
    (onSuccess)="productInsertService.onInsertSuccess($event)" 
    (onError)="productInsertService.onInsertError($event)">
</product-new-modal>
<product-edit-modal 
    (onSuccess)="productEditService.onEditSuccess($event)" 
    (onError)="productEditService.onEditError($event)">
</product-edit-modal>
<product-delete-modal 
    (onSuccess)="productDeleteService.onDeleteSuccess($event)" 
    (onError)="productDeleteService.onDeleteError($event)">
</product-delete-modal>
<product-restore-modal 
    (onSuccess)="productRestoreService.onRestoreSuccess($event)" 
    (onError)="productRestoreService.onRestoreError($event)">
</product-restore-modal>
