<div class="row">
  <h1>Listagem de Produtos</h1>
  <table class="table table-striped table-hover">
      <thead>
          <tr>
              <td colspan="5">
                  <button class="btn btn-primary" (click)="categoryInsertService.showModalInsert()">
                      Nova produto
                  </button>
              </td>
          </tr>
          <tr>
              <th style="width: 5%">ID</th>
              <th style="width: 50%">Nome</th>
              <th style="width: 10%">Ativo?</th>
              <th style="width: 10%">Criado em</th>
              <th style="width: 25%">Ações</th>
          </tr>
      </thead>
  </table>
</div>