<div class="row">
    <h1>Listagem de Categorias</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td colspan="5">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Nova categoria
                    </button>
                </td>
            </tr>
            <tr>
                <th style="width: 5%">ID</th>
                <th style="width: 50%">Nome</th>
                <th style="width: 10%">Ativa?</th>
                <th style="width: 10%">Criada em</th>
                <th style="width: 25%">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{category.id}}</td>
                <td>{{category.name}}</td>
                <td>
                    <i class="fas" [ngClass]="{'fa-check': category.active, 'fa-times': !category.active}"></i>
                </td>
                <td>{{category.created_at.date | date: 'dd/MM/yyyy'}}</td>
                <td>Editar | Excluir</td>
            </tr>
        </tbody>
    </table>
</div>
<form (submit)="submit()">  
    <modal>
        <div modal-title>
            Nova categoria
        </div>
        <div modal-body>
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" 
                       name="category.name" 
                       id="name" 
                       class="form-control" 
                       required 
                       placeholder="Informe um nome para a nova categoria"
                       [(ngModel)]="category.name">
            </div>
        </div>
        <div modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Fechar
            </button>
            &nbsp;
            <button type="submit" class="btn btn-primary">
                Incluir
            </button>
        </div>
    </modal>
</form>