<div class="row" id="no-more-tables">
    <h3>Listagem de Categorias</h3>
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <td colspan="5">
                    <button class="btn btn-primary" (click)="categoryInsertService.showModalInsert()">
                        Nova categoria
                    </button>
                </td>
            </tr>
            <tr>
                <th style="width: 5%">ID</th>
                <th style="width: 50%">Nome</th>
                <th style="width: 15%">Ativa?</th>
                <th style="width: 15%">Criada em</th>
                <th style="width: 15%">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories | paginate: pagination">
                <td data-title="ID:">
                    {{category.id}}
                </td>
                <td data-title="Nome:">
                    {{category.name}}
                </td>
                <td data-title="Ativa:">
                    <i class="fas" [ngClass]="{'fa-check': category.active, 'fa-times': !category.active}"></i>
                </td>
                <td data-title="Criada em:">
                    {{category.created_at.date | date: 'dd/MM/yyyy'}}
                </td>
                <td data-title="Ações: ">
                    <a href="javascript:void(0)" 
                       (click)="categoryEditService.showModalEdit(category)"
                       title="Editar a categoria {{category.name}}">
                       <i class="fas fa-edit"></i>
                    </a>
                    &nbsp;
                    <a href="javascript:void(0)" 
                       (click)="categoryDeleteService.showModalDelete(category)"
                       title="Excluir a categoria {{category.name}}">
                       <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            <tr *ngIf="!categories.length">
                <td colspan="5">
                    Nada a exibir por enquanto :(
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<div style="text-align: right;">
    <pagination-controls 
        (pageChange)="pageChange($event)"
        nextLabel="Próximo"
        previousLabel="Anterior"
        autoHide=true
        responsive=true>
    </pagination-controls>
</div>
<category-new-modal 
    (onSuccess)="categoryInsertService.onInsertSuccess($event)" 
    (onError)="categoryInsertService.onInsertError($event)">
</category-new-modal>
<category-edit-modal 
    (onSuccess)="categoryEditService.onEditSuccess($event)" 
    (onError)="categoryEditService.onEditError($event)">
</category-edit-modal>
<category-delete-modal 
    (onSuccess)="categoryDeleteService.onDeleteSuccess($event)" 
    (onError)="categoryDeleteService.onDeleteError($event)">
</category-delete-modal>