<form class="form-signin" (submit)="submit($event)">
  <h1 class="h3 mb-3 font-weight-normal">
      Code Shopping - Login
  </h1>
  <alert-error [(show)]="showMessageError" [show-btn-close]="true" [show-icon]="true">
      Credenciais inválidas
  </alert-error>
  <span class="form-group" [formGroup]="form">
    <label for="email" class="sr-only">
        E-mail
    </label>
    <input type="email" 
           formControlName="email"
           class="form-control" 
           placeholder="Digite o e-mail"
           autofocus>
  </span>
  <span class="form-group" [formGroup]="form">
    <label for="password" class="sr-only">
        Senha
    </label>
    <input type="password" 
           formControlName="password"
           class="form-control" 
           placeholder="Digite sua senha">
  </span>
  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!form.valid">
      Entrar
  </button>
</form>