<div class="form-group" [formGroup]="form">
  <label for="name">Nome</label>
  <input type="text" 
         name="name"
         formControlName="name" 
         class="form-control" 
         maxlength="20"
         required 
         placeholder="Informe um nome para a categoria"
         isInvalid>
  <field-error [field]="form.get('name')"></field-error>
</div>
<div class="form-group form-check" [formGroup]="form">
  <input type="checkbox" 
         name="active"
         formControlName="active" 
         class="form-check-input">
  <label for="active">Ativo?</label>
</div>