<form (submit)="submit()">  
    <modal 
        (onShowModal)="onShowModal($event)" 
        (onShownModal)="onShownModal($event)" 
        (onHideModal)="onHideModal($event)" 
        (onHiddenModal)="onHiddenModal($event)">
        <h5 modal-title>
            Editar produto
        </h5>
        <div modal-body>
            <product-form [product]="product"></product-form>
        </div>
        <div modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Fechar
            </button>
            &nbsp;
            <button type="submit" class="btn btn-primary">
                Editar
            </button>
        </div>
    </modal>
</form>