<div class="form-group" [formGroup]="form">
  <label [for]="fieldsOptions.name.id">
    {{fieldsOptions.name.label}}
  </label>
  <input type="text"
         formControlName="name" 
         class="form-control" 
         isInvalid
         [id]="fieldsOptions.name.id"
         [maxlength]="fieldsOptions.name.validationMessage.maxlength"
         [placeholder]="fieldsOptions.name.placeholder">
  <field-error 
         [field]="form.get('name')"
         [label]="fieldsOptions.name.label"
         [messages]="fieldsOptions.name.validationMessage"
         >
  </field-error>
</div>
<div class="form-group" [formGroup]="form">
  <label [for]="fieldsOptions.description.id">
    {{fieldsOptions.description.label}}
  </label>
  <textarea 
         formControlName="description"
         class="form-control no-resize"
         isInvalid 
         [id]="fieldsOptions.description.id" 
         [placeholder]="fieldsOptions.description.placeholder"></textarea>
  <field-error 
         [field]="form.get('description')"
         [label]="fieldsOptions.description.label"
         [messages]="fieldsOptions.description.validationMessage"
         >
  </field-error>
</div>
<div class="form-group" [formGroup]="form">
  <label [for]="fieldsOptions.price.id">
    {{fieldsOptions.price.label}}
  </label>
  <input type="number" 
         formControlName="price"
         class="form-control"
         isInvalid 
         [id]="fieldsOptions.price.id"
         [min]="fieldsOptions.price.min" 
         [step]="fieldsOptions.price.step">
  <field-error 
         [field]="form.get('price')"
         [label]="fieldsOptions.price.label"
         [messages]="fieldsOptions.price.validationMessage"
         >
  </field-error>
</div>
<div class="form-group form-check" [formGroup]="form">
  <input type="checkbox"
         formControlName="active" 
         class="form-check-input"
         [id]="fieldsOptions.active.id">
  <label [for]="fieldsOptions.active.id">
      {{fieldsOptions.active.label}}?
  </label>
</div>