<div class="row">
  <h3>Fotos do produto {{product?.name}}</h3>
  <div class="col-md-12">
    <product-photos-upload (onSuccess)="onInsertSuccess($event)"></product-photos-upload>
  </div>
  <div class="col-md-12">
    <a data-fancybox="gallery" [href]="photo.photo_url" *ngFor="let photo of photos">
        <img [id]="'photo-' + photo.id" [src]="photo.photo_url" style="max-width: 100px">
    </a>
  </div>
</div>
<product-photos-edit-modal 
    (onSuccess)="onEditSuccess($event)" 
    [photoId]="photoIdToEdit">
</product-photos-edit-modal>
<product-photos-delete-modal 
    (onSuccess)="onDeleteSuccess($event)"
    (onError)="onDeleteError($event)" 
    [photoId]="photoIdToDelete">
</product-photos-delete-modal>