<form (submit)="submit()" autocomplete="off">  
    <modal>
        <h5 modal-title>
            Novo usuário
        </h5>
        <div modal-body>
            <list-error [errors]="errors" *ngIf="showErrors()"></list-error>
            <user-form [form]="form"></user-form>
        </div>
        <div modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Fechar
            </button>
            &nbsp;
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
                Cadastrar
            </button>
        </div>
    </modal>
</form>