<form (submit)="submit()">  
    <modal 
        (onShowModal)="onShowModal($event)" 
        (onShownModal)="onShownModal($event)" 
        (onHideModal)="onHideModal($event)" 
        (onHiddenModal)="onHiddenModal($event)">
        <h5 modal-title>
            Nova entrada
        </h5>
        <div modal-body>
            <!--
            <list-error [errors]="errors" *ngIf="showErrors()"></list-error>
            <product-form [form]="form"></product-form>
            -->
        </div>
        <div modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Fechar
            </button>
            &nbsp;
            <button type="submit" class="btn btn-primary">
                Incluir
            </button>
        </div>
    </modal>
</form>